@font-face {
  font-family: 'unityinv';
  src:  url('fonts/unityinv.eot?y6dbmy');
  src:  url('fonts/unityinv.eot?y6dbmy#iefix') format('embedded-opentype'),
    url('fonts/unityinv.ttf?y6dbmy') format('truetype'),
    url('fonts/unityinv.woff?y6dbmy') format('woff'),
    url('fonts/unityinv.svg?y6dbmy#unityinv') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-unityinv"], [class*=" icon-unityinv"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'unityinv' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-unityinvunity-couple:before {
  content: "\e900";
}
.icon-unityinvunity-event:before {
  content: "\e901";
}
.icon-unityinvunity-gallery:before {
  content: "\e902";
}
.icon-unityinvunity-gift:before {
  content: "\e903";
}
.icon-unityinvunity-home:before {
  content: "\e904";
}
.icon-unityinvunity-love-story:before {
  content: "\e905";
}
.icon-unityinvunity-wishes:before {
  content: "\e906";
}
