@font-face {
  font-family: 'wedding';
  src: url('../font/wedding.eot?43821539');
  src: url('../font/wedding.eot?43821539#iefix') format('embedded-opentype'),
       url('../font/wedding.woff2?43821539') format('woff2'),
       url('../font/wedding.woff?43821539') format('woff'),
       url('../font/wedding.ttf?43821539') format('truetype'),
       url('../font/wedding.svg?43821539#wedding') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'wedding';
    src: url('../font/wedding.svg?43821539#wedding') format('svg');
  }
}
*/
[class^="fontello-icon"]:before, [class*=" fontello-icon"]:before {
  font-family: "wedding";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.fontello-iconromantic-dinner:before { content: '\e800'; } /* '' */
.fontello-iconsignboard:before { content: '\e801'; } /* '' */
.fontello-iconwedding:before { content: '\e802'; } /* '' */
.fontello-iconwedding-arch:before { content: '\e803'; } /* '' */
.fontello-iconwedding-couple:before { content: '\e804'; } /* '' */
.fontello-iconwedding-dinner:before { content: '\e805'; } /* '' */
.fontello-iconwedding-photography:before { content: '\e806'; } /* '' */
